.tabla{
	display: inline;

	width: 100%;
	border:1px solid black;
	 
	 margin-top:2px;
	  
}
td{

width: 50%;
font-size: 15px;
 
text-align: center;

}
.code-QR{

width: 90px;
 
margin: auto;

}

.logo{


width: 60px;
	
}
